body {
  font-size: 18px;
  font-family: 'Cormorant Garamond', serif;
  color: #000;
  font-weight: 300;
  line-height: 1;

  margin: 0;
  padding: 0;

  position: relative;
  z-index: -3;
  background: url(../img/bg/1.jpeg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body:before {
  position: absolute;
  z-index: -1;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #fff;
  opacity: 0.5;
  background-attachment: fixed;
}
body:after {
  position: absolute;
  z-index: -1;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: linear-gradient(to bottom, #89deff, #7525b9);
  opacity: 0.3;
  background-attachment: fixed;
}
body.lock {
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.title {
  font-size: 20px;
  color: #333;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

.text {
  font-size: 18px;
  text-align: center;
  color: #333;
  margin-bottom: 15px;
}




/* HEADER */
.header.active {
  position: fixed;
  z-index: 100;
}
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 1200px;

  padding: 20px 15px;
  margin: 0 auto;
}

.burger.active {
  background-color: #fff;
}
.burger {
  position: relative;
  z-index: 999;
  width: 45px;
  height: 45px;
  cursor: pointer;

  transition: all 0.4s ease;
  border-radius: 4px;
  background-color: #333;
}

.burger.active
.burger_items {
  background: none;
  box-shadow: none;
}
.burger_items {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50%;
  height: 3px;

  transition: all 0.2s ease;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 2px #fff;
}

.burger_items:before,
.burger_items:after {
  position: absolute;
  content: '';
  z-index: 1;
  width: 100%;
  height: 3px;

  transition: all 0.3s ease;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 2px #fff;
}

.burger.active
.burger_items:before {
  background: none;
  box-shadow: none;
  top: 0;
}
.burger_items:before {
  top: -8px;
}

.burger.active
.burger_items:after {
  box-shadow: none;
  background: none;
  top: 0;
}
.burger_items:after {
  top: 8px;
}

.burger_span {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 1.5px;

  border-radius: 20px;
  background: none;
}

.burger_span:before,
.burger_span:after {
  position: absolute;
  content: '';
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);

  width: 80%;
  height: 3px;

  transition: all 0.2s ease;
  border-radius: 20px;
  background: none;
}

.burger.active
.burger_span:before {
  transform: translateX(-50%) rotate(45deg);
  transition-delay: 0.1s;
  background-color: #333;
  box-shadow: 0 0 2px #333;
}

.burger.active
.burger_span:after {
  transform: translateX(-50%) rotate(-45deg);
  transition-delay: 0.1s;
  background-color: #333;
  box-shadow: 0 0 2px #333;
}

.burger.active
.burger_tods:before {
  opacity: 1;
}
.burger_tods:before {
  position: absolute;
  z-index: 1;
  content: '';
  width: 3px;
  height: 3px;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  opacity: 0;

  background-color: #333;
  border-radius: 50%;
  box-shadow: 0 0 2px #333;
}

.burger.active
.burger_tods:after {
  opacity: 1;
}
.burger_tods:after {
  position: absolute;
  z-index: 1;
  content: '';
  width: 3px;
  height: 3px;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  opacity: 0;

  background-color: #333;
  border-radius: 50%;
  box-shadow: 0 0 2px #333;
}

.burger.active
.burger_tods1:before {
  opacity: 1;
}
.burger_tods1:before {
  position: absolute;
  z-index: 1;
  content: '';
  width: 3px;
  height: 3px;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  opacity: 0;

  background-color: #333;
  border-radius: 50%;
  box-shadow: 0 0 2px #333;
}

.burger.active
.burger_tods1:after {
  opacity: 1;
}
.burger_tods1:after {
  position: absolute;
  z-index: 1;
  content: '';
  width: 3px;
  height: 3px;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  opacity: 0;

  background-color: #333;
  border-radius: 50%;
  box-shadow: 0 0 2px #333;
}




/* NAV */
.nav.active {
  opacity: 1;
  pointer-events: auto;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;

  position: absolute;
  z-index: 88;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0;

  transition: all 0.3s ease;
  padding-top: 150px;
  background-color: #333;
}

.links.active {
  color: #9f9f9f;
}
.links {
  color: #fff;
  font-size: 20px;
  transition: 0.3s ease;
  text-transform: uppercase;
  text-shadow: 0 0 2px #fff;
}
.links:hover {
  color: #9f9f9f;
  text-shadow: 0 0 2px #9f9f9f;
}




.line.active {
  display: block;
}
.line {
  display: none;
  width: 100%;
  height: 85px;
}



/* INTRO */
.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;

  padding: 0 15px;
}

.intro_content {
  width: 100%;
}

.intro_title {
  font-size: 55px;
  color: #333;
  text-shadow: 0 0 2px #333;
}

.intro_text {
  font-size: 22px;
  color: #333;
  text-shadow: 0 0 2px #333;
}

.arrow {
  width: 35px;
  height: 35px;

  cursor: pointer;

  border-bottom: 2px solid #333;
  border-left: 2px solid #333;
  border-radius: 2px;
  transition: all 0.3s ease;

  margin: 0 auto;
}

.intro_arrow {
  transform: rotate(-45deg);
}
.intro_arrow:hover {
  border-color: #fff;
}




/* SECTION */
.section {
  width: 100%;
  height: auto;
  background-color: #fff;
}

/* CONTAINER */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 10px;

  width: 100%;
  max-width: 1200px;

  padding: 10px 15px 0;
  margin: 0 auto;
}

.project {
  width: 100%;
  height: 130px;
  min-width: 0;

  position: relative;

  background-color: #000;
  cursor: pointer;
  overflow: hidden;
}
.project img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease, transform 2s ease;
}
.project:hover img {
  opacity: 0.7;
  transform: scale(1.05);
}

.project_text {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-shadow: 0 0 2px #fff;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  transition: all 1s ease;
}
.project:hover
.project_text {
  opacity: 1;
}

.container3 {
  padding-bottom: 50px;
}


/* CONECTION */
.conection_section {
  background-color: #b1e9ff;
}

.conection_container {
  display: block;
  text-align: center;

  padding: 50px 15px 30px;
}

.conection_title {
  text-shadow: none;
  font-weight: 300;

  margin-bottom: 30px;
}

.conection_text  {
  max-width: 500px;
  text-shadow: none;

  margin: 0 auto 50px;
}

.conection_icons {
  width: 300px;
  display: flex;
  justify-content: center;

  margin: 0 auto 30px;
}

.icon {
  font-size: 30px;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;

  padding: 0 15px;
}
.icon:hover {
  color: #fff;
  text-shadow: 2px 2px 2px #333;
}

.input {
  display: block;
  width: 100%;
  max-width: 400px;

  border: 0.5px solid #333;
  cursor: pointer;
  text-shadow: none;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Cormorant Garamond', serif;

  transition: box-shadow 0.1s ease, background 0.3s ease;
  background-color: transparent;
  padding: 8px 15px;
  margin: 0 auto 5px;
}
.input:hover {
  box-shadow: 0 0 2px #333 inset;
  background-color: #fff;
}
.input::placeholder {
  font-size: 18px;
  color: #333;
  font-family: 'Cormorant Garamond', serif;
}
.input:focus {
  outline: none;
  background-color: #fff;
  box-shadow: 0 0 2px #333 inset;
}

.textarea {
  display: block;
  width: 100%;
  max-width: 400px;
  min-height: 100px;

  border: 0.5px solid #333;
  cursor: pointer;
  text-shadow: none;
  color: #333;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Cormorant Garamond', serif;
  resize: none;

  transition: box-shadow 0.1s ease, background 0.3s ease;
  background-color: transparent;
  padding: 8px 15px;
  margin: 0 auto 5px;
}
.textarea:hover {
  box-shadow: 0 0 2px #333 inset;
  background-color: #fff;
}
.textarea::placeholder {
  font-size: 18px;
  color: #333;
  font-family: 'Cormorant Garamond', serif;
}
.textarea:focus {
  outline: none;
  box-shadow: 0 0 2px #333 inset;
  background-color: #fff;
}
.textarea::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
.textarea::-webkit-scrollbar-thumb {
  background-color: #333;
  box-shadow: 0 0 2px #333;
  border-radius: 20px;
  border: 2px solid #fff;
}
.textarea::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
  border: 1px solid #333;
  box-shadow: 0 0 2px #333 inset;
}
.textarea::-webkit-scrollbar-track {
  padding: 0 15px;
}

.btn {
  display: block;
  width: 100%;
  max-width: 400px;
  color: #fff;
  text-shadow: none;
  font-weight: 300;
  font-size: 18px;
  font-family: 'Cormorant Garamond', serif;
  cursor: pointer;

  transition: all 0.3s ease;
  border: 0.5px solid #333;
  padding: 10px 15px;
  margin: 0 auto 50px;
  background-color: #333;
}
.btn:hover {
  background-color: #fff;
  box-shadow: 0 0 2px #333 inset;
  color: #333;
}

.conection_arrow {
  transform: rotate(135deg);
}
.conection_arrow:hover {
  border-color: #fff;
}




/* FOOTER */
.footer_section {
  background-color: #fff;
}

.footer {
  width: 100%;
  max-width: 500px;

  margin: 0 auto;
  padding: 15px;
}

.footer_text {
  margin: 0 auto;
}
.footer_text a {
  transition: all 0.3s ease;
  color: #333;
  font-weight: 600;
}
.footer_text a:hover {
  text-shadow: 0 0 2px #333;
  font-weight: 600;
}




/* BLOCK */
.block {
  width: 100%;
  max-width: 1200px;

  padding: 0 15px;
  margin: 0 auto 20px;
}

.block_content {
  background-color: #b1e9ff;
  padding: 50px 15px;
}

.block_content_link {
  position: relative;
  display: block;
  text-align: left;
  font-weight: 300;

  transition: all 0.3s ease;
  margin: 0 0 30px 30px;
}
.block_content_link:before {
  position: absolute;
  content: '';
  display: block;
  top: 50%;
  right: 100%;
  transform: translateY(-50%) rotate(45deg);
  width: 8px;
  height: 8px;
  transition: all 0.3s ease;

  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  margin-right: 5px;
}
.block_content_link:after {
  position: absolute;
  content: '';
  display: block;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  width: 6px;
  height: 16px;
  transition: all 0.3s ease;

  background-color: #b1e9ff;
  margin-right: 2px;
}
.block_content_link:hover {
  text-shadow: 0 0 2px #333;
}
.block_content_link:hover:before {
  box-shadow: 0 0 2px #333;
}

.block_content_text {
  max-width: 500px;
  margin: 0 auto 50px;
}

.block_img {
  width: 100%;
  max-width: 500px;
  height: 250px;

  cursor: pointer;
  position: relative;
  background-color: #000;
  margin: 0 auto 30px;
}
.block_img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
}
.block_img:hover img {
  opacity: 0.7;
}

.block_img_items {
  position: absolute;
  z-index: 1;
  bottom: 10%;
  left: 30px;
  opacity: 0;
  transition: all 0.4s ease;
}
.block_img:hover
.block_img_items {
  opacity: 1;
}

.block_img_items_title {
  text-align: left;
  color: #fff;

  margin-bottom: 10px;
}

.block_img_items_text {
  text-align: left;
  color: #fff;
}

.block_arrow {
  transform: rotate(135deg);
}
.block_arrow:hover {
  border-color: #fff;
}






@media (min-width: 768px) {
  /* HEADER */
  .header {
    display: none;
  }

  /* BURGER */
  .burger {
    display: none;
  }

  /* NAV */
  .nav {
    flex-direction: row;
    justify-content: center;
    position: inherit;
    z-index: 100;
    opacity: 1;
    pointer-events: auto;

    width: 100%;
    height: auto;

    background: none;
    padding: 20px 15px;
  }

  .links {
    color: #333;
    text-shadow: 0 0 2px #333;
  }
  .links:hover {
    color: #fff;
    text-shadow: 0 0 2px #fff;
  }

  /* INTRO */
  .intro {
    height: 93vh;
  }

  /* CONTAINER */
  .container {
    display: grid;

    justify-content: center;
    gap: 15px;

    width: 100%;
    max-width: 1200px;

    padding: 15px 15px 0;
    margin: 0 auto;
  }
  /* CONTAINER1 */
  .container1 {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 80px);

  }

  .project {
    width: 100%;
    height: 130px;
    min-width: 0;

    background-color: #000;
  }

  .cont1_p1 {
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .cont1_p2 {
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
  }
  .cont1_p3 {
    height: 100%;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .cont1_p4 {
    height: 100%;
    max-height: auto;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;

  }
  .cont1_p5 {
    height: 100%;
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .cont1_p6 {
    height: 100%;
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 7;
  }

  /* CONTAINER2 */
  .container2 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 130px);
  }

  .cont2_p1 {
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .cont2_p2 {
    height: 100%;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .cont2_p3 {
    height: 100%;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .cont2_p4 {
    height: 100%;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  /* CONTAINER3 */
  .container3 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 130px);
    padding-bottom: 100px;
  }

  .cont3_p1 {
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .cont3_p2 {
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .cont3_p3 {
    height: 100%;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  /* CONECTION */
  .conection_container {
    display: block;
    padding: 80px 15px 30px;
  }

  .btn {
    width: 200px;
  }

  /* BLOCK */
  .block_img {
    height: 350px;
  }
}














