body {
  font-size: 18px;
  font-family: 'Cormorant Garamond', serif;
  color: #000;
  font-weight: 300;
  line-height: 1;

  margin: 0;
  padding: 0;

  position: relative;
  z-index: -3;
  background: url(../img/bg/1.jpeg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body:before {
  position: absolute;
  z-index: -1;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #fff;
  opacity: 0.5;
  background-attachment: fixed;
}
body:after {
  position: absolute;
  z-index: -1;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: linear-gradient(to bottom, #7525b9, #22e6b9);
  opacity: 0.3;
  background-attachment: fixed;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.title {
  font-size: 20px;
  color: #333;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
  text-shadow: 0 0 2px #fff;
}

.text {
  font-size: 18px;
  text-align: center;
  color: #333;
  margin-bottom: 15px;
  text-shadow: 0 0 2px #fff;
}




/* HEADER */
.header {
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 1200px;

  padding: 20px 15px;
  margin: 0 auto;
}

.burger.active {
  background-color: #fff;
}
.burger {
  position: relative;
  z-index: 999;
  width: 45px;
  height: 45px;
  cursor: pointer;

  transition: all 0.4s ease;
  border-radius: 4px;
  background-color: #333;
}

.burger.active
.burger_items {
  background: none;
  box-shadow: none;
}
.burger_items {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50%;
  height: 3px;

  transition: all 0.2s ease;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 2px #fff;
}

.burger_items:before,
.burger_items:after {
  position: absolute;
  content: '';
  z-index: 1;
  width: 100%;
  height: 3px;

  transition: all 0.3s ease;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 2px #fff;
}

.burger.active
.burger_items:before {
  background: none;
  box-shadow: none;
  top: 0;
}
.burger_items:before {
  top: -8px;
}

.burger.active
.burger_items:after {
  box-shadow: none;
  background: none;
  top: 0;
}
.burger_items:after {
  top: 8px;
}

.burger_span {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 1.5px;

  border-radius: 20px;
  background: none;
}

.burger_span:before,
.burger_span:after {
  position: absolute;
  content: '';
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);

  width: 80%;
  height: 3px;

  transition: all 0.2s ease;
  border-radius: 20px;
  background: none;
}

.burger.active
.burger_span:before {
  transform: translateX(-50%) rotate(45deg);
  transition-delay: 0.1s;
  background-color: #333;
  box-shadow: 0 0 2px #333;
}

.burger.active
.burger_span:after {
  transform: translateX(-50%) rotate(-45deg);
  transition-delay: 0.1s;
  background-color: #333;
  box-shadow: 0 0 2px #333;
}

.burger.active
.burger_tods:before {
  opacity: 1;
}
.burger_tods:before {
  position: absolute;
  z-index: 1;
  content: '';
  width: 3px;
  height: 3px;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  opacity: 0;

  background-color: #333;
  border-radius: 50%;
  box-shadow: 0 0 2px #333;
}

.burger.active
.burger_tods:after {
  opacity: 1;
}
.burger_tods:after {
  position: absolute;
  z-index: 1;
  content: '';
  width: 3px;
  height: 3px;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  opacity: 0;

  background-color: #333;
  border-radius: 50%;
  box-shadow: 0 0 2px #333;
}

.burger.active
.burger_tods1:before {
  opacity: 1;
}
.burger_tods1:before {
  position: absolute;
  z-index: 1;
  content: '';
  width: 3px;
  height: 3px;
  top: 50%;
  left: 7px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  opacity: 0;

  background-color: #333;
  border-radius: 50%;
  box-shadow: 0 0 2px #333;
}

.burger.active
.burger_tods1:after {
  opacity: 1;
}
.burger_tods1:after {
  position: absolute;
  z-index: 1;
  content: '';
  width: 3px;
  height: 3px;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  opacity: 0;

  background-color: #333;
  border-radius: 50%;
  box-shadow: 0 0 2px #333;
}




/* NAV */
.nav.active {
  opacity: 1;
  pointer-events: auto;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;

  position: fixed;
  z-index: 888;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0;

  transition: all 0.3s ease;
  padding-top: 150px;
  background-color: #333;
}

.links.active {
  color: #9f9f9f;
}
.links {
  color: #fff;
  font-size: 20px;
  transition: 0.3s ease;
  text-transform: uppercase;
  text-shadow: 0 0 2px #fff;
}
.links:hover {
  color: #9f9f9f;
  text-shadow: 0 0 2px #9f9f9f;
}




/* INTRO */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  padding: 0 15px;
}

.intro_content {
  width: 100%;
}

.intro_title {
  font-size: 55px;
  color: #fff;
}

.intro_text {
  font-size: 22px;
  color: #fff;
}

.intro_arrow {
  width: 35px;
  height: 35px;

  cursor: pointer;
  transform: rotate(-45deg);
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  border-radius: 2px;

  margin: 0 auto;
}




/* SECTION */
.section {
  width: 100%;
  height: auto;
  background-color: #fff;
}

/* CONTAINER */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 10px;

  width: 100%;
  max-width: 1200px;

  padding: 10px 15px 0;
  margin: 0 auto;
}

.project {
  width: 100%;
  height: 130px;
  min-width: 0;

  background-color: #000;
  cursor: pointer;
  overflow: hidden;
}
.project img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease, transform 2s ease;
}
.project:hover img {
  opacity: 0.8;
  transform: scale(1.05);
}



@media (min-width: 768px) {
  /* HEADER */
  .header {
    justify-content: center;
  }

  /* BURGER */
  .burger {
    display: none;
  }

  /* NAV */
  .nav {
    flex-direction: row;
    justify-content: center;
    position: static;
    opacity: 1;
    pointer-events: auto;

    width: 100%;
    height: auto;

    background: none;
    padding: 0;
  }

  /* CONTAINER */
  .container {
    display: grid;

    justify-content: center;
    gap: 15px;

    width: 100%;
    max-width: 1200px;

    padding: 15px 15px 0;
    margin: 0 auto;
  }
  /* CONTAINER1 */
  .container1 {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 80px);

  }

  .project {
    width: 100%;
    height: 130px;
    min-width: 0;

    background-color: #000;
  }

  .cont1_p1 {
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .cont1_p2 {
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
  }
  .cont1_p3 {
    height: 100%;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .cont1_p4 {
    height: 100%;
    max-height: auto;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 3;

  }
  .cont1_p5 {
    height: 100%;
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .cont1_p6 {
    height: 100%;
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 7;
  }

  /* CONTAINER2 */
  .container2 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 130px);
  }

  .cont2_p1 {
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .cont2_p2 {
    height: 100%;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .cont2_p3 {
    height: 100%;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .cont2_p4 {
    height: 100%;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  /* CONTAINER3 */
  .container3 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 130px);
    padding-bottom: 100px;
  }

  .cont3_p1 {
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .cont3_p2 {
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .cont3_p3 {
    height: 100%;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
  }

}














