body {
  font-size: 18px;
  color: #000;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-family: sans-serif;
  background-color: #42424a;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}




/* TOGGLE  */
.container {
  width: 100%;
  height: 100vh;
  display: block;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.line_cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
}

.lil_cont_items {
  width: 33%;
  height: 100px;

  display: flex;
  align-items: center;
}




/* FIRST */

.toggle {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;

  margin: 0 auto;
}

.toggle_items {
  display: block;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;

  width: 100%;
  height: 2px;

  transform: translate(-50%, -50%);
  transition: all 0.4s ease;

  background-color: #fff;
  box-shadow: 0 0 3px rgba(255, 255, 255);
  border-radius: 20px;
}

.toggle.active
.toggle_items {
  background: none;
  box-shadow: none;
}

.toggle.active
.toggle_items:before {
  transform: rotate(45deg) translate(-2.5px, 11px);
}

.toggle.active
.toggle_items:after {
  transform: rotate(-45deg) translate(-2.5px, -11px);
}

.toggle_items:before,
.toggle_items:after {
  position: absolute;
  content: "";
  z-index: 3;

  width: 100%;
  height: 2px;

  left: 50%;
  transform: translate(-50%, 0);

  background-color: #fff;
  transition: all 0.4s ease;
  border-radius: 20px;
  box-shadow: 0 0 3px rgba(255, 255, 255);
}

.toggle_items:before {
  bottom: 6px;
}

.toggle_items:after {
  top: 6px;
}

.toggle_icon {
  font-size: 40px;
  z-index: 1;

  position: absolute;
  top: -10px;
  left: -10px;
  color: rgba(255, 255, 255, 0.7);
  animation: rotate-name 20s linear infinite;
  text-shadow: 0 0 9px #0037ff;
}

.toggle.active
.toggle_icon {
  color: rgb(0 55 255 / 60%);
  text-shadow: 0 0 9px rgba(255, 255, 255, 0.7);
}

.toggle:hover
.toggle_icon {
  animation-play-state: paused;
}

.toggle_icon1 {
  font-size: 20px;
  z-index: 1;

  position: absolute;
  top: -9px;
  left: 16px;
  color: rgb(255 255 255 / 50%);
  animation: rotate-name 10s linear infinite reverse;
  text-shadow: 0 0 3px rgb(0 55 255 / 70%);
}

.toggle.active
.toggle_icon1 {
  color: rgb(0 55 255 / 40%);
  text-shadow: 0 0 9px rgba(255, 255, 255, 0.7);
}

.toggle_icon2 {
  font-size: 20px;
  z-index: 1;

  position: absolute;
  top: 7px;
  left: 21px;
  color: rgb(255 255 255 / 50%);
  animation: rotate-name 10s linear infinite;
  text-shadow: 0 0 3px rgb(0 55 255 / 70%);
}

.toggle.active
.toggle_icon2 {
  color: rgb(0 55 255 / 40%);
  text-shadow: 0 0 9px rgba(255, 255, 255, 0.7);
}

@keyframes rotate-name {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}




/* SECOND */
.wave-btn {
  width: 280px;
  height: 60px;
  display: flex;

  overflow: hidden;

  position: relative;

  transition: all 0.8s ease 0s;

  justify-content:center;
  align-items: center;

  border-radius: 0 0 10px 10px;
  text-decoration: none;
}

.wave-btn:hover {
  border-radius: 10px;

  transition: all 0.8s ease 0.2s;

  box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
}

.wave-btn:hover .wave-btn__waves{
  top: -50px;
}

.wave-btn__text {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 8px;
  position: relative;
  z-index: 1;
}
.wave-btn__waves {
  position: absolute;
  width: 280px;
  height: 280px;
  background-color: #4973ff;
  top: 0;
  left: 0;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);

  transition: all 0.5s linear 0s;
}

.wave-btn__waves:after,
.wave-btn__waves:before{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 250%;
  height: 250%;

  transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
}

.wave-btn__waves:before{
  background-color: #000;
  border-radius: 48%;

  animation: waves 5s infinite linear;
}

.wave-btn__waves:after{
  background-color: rgba(0,0,0,0.5);
  border-radius: 44%;

  animation: waves 10s infinite linear;
}

@keyframes waves{
  0%{
    transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
  }
  100%{
    transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
  }
}





